<!-- Used in for create/edit eintry -->

<!-- Render errors if there are-->
<%= render 'shared/error_message', record: entry %>

<!--Title-->
<%= form_for(entry, html: {class: "form-horizontal"}) do |f| %>
<div class="form-group">
  <%= f.label :title, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :title, class: "form-control" %>
  </div>
</div>

<!--Body-->
<div class="form-group">
  <%= f.label :body, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :body, class: "form-control", rows: 10 %>
  </div>
</div>

<!--Start Time-->
<div class="form-group">
  <%= f.label :start_time, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.datetime_select :start_time %>
  </div>
</div>

<!--End Time-->
<div class="form-group">
  <%= f.label :end_time, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.datetime_select :end_time %>
  </div>
</div>

<!--Submit/Cancel buttons-->
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-large btn-primary" %>
    <%= link_to  "Hætta við", entries_path, class: "btn btn-default" %>
      </div>
</div>
<% end %>