  <!--Edit form for entry-->
  <div class="col-xs-12">
    <h1 class="col-sm-offset-2"><%= t('general.edit') %></h1>
    <!--Render form: see under _form.html.erb-->
    <%= render "form", entry: @entry %>
  </div>
</div>