
<!-- Shows list of entries-->

<h1><%= t('entries.overview') %></h1>

<!-- Filters for entries-->
<div class="row">
  <div class="col-sm-6">
    <%= form_tag({}, class: "form-inline", method: :get) do %>
      <div class="form-group">
        <%= label_tag :from, "Frá", class: "control-label" %>
        <%= text_field_tag :from, nil, placeholder: "Frá", data: {value: @from.to_s(:db) } %>
      </div>

      <div class="form-group">
        <%= label_tag :to, "Til", class: "control-label" %>
        <%= text_field_tag :to, nil, placeholder: "Til", data: {value: @to.to_s(:db) } %>
      </div>

      <%= submit_tag t('general.search'), class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= link_to t('general.new'), new_entry_path, class:"btn btn-success pull-right" %>
  </div>
</div>

<hr>

<!-- Table showing the entries -->
<div class="table-responsive">
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>
          <%= t('activerecord.attributes.entry.title') %>
        </th>
        <th>
          <%= t('activerecord.attributes.entry.start_time') %>
        </th>
        <th>
          <%= t('activerecord.attributes.entry.end_time') %>
        </th>
        <th>
          <%= t('activerecord.attributes.entry.duration') %>
        </th>
        <th>
          <%= t('general.edit') %>
        </th>
         <th>
          <%= t('general.destroy') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= link_to entry.title, entry %>
        </td>
        <td>
          <%= l entry.start_time %>
        </td>
        <td>
          <%= l entry.end_time %>
        </td>
        <td>
          <%= entry.duration %> min.
        </td>
         <td>
          <%= link_to t('general.edit'), edit_entry_path(entry), class: "btn btn-warning btn-xs" %>
        </td>
        <td>
          <%= link_to t('general.destroy'), entry, method: :delete, data: { confirm: "Ertu viss?" }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          Földi skráninga:  <%= @entries.to_a.count %>
        </td>
        <td class="text-right">
          Samtals:
        </td>
        <td>
          <%= @entries.to_a.sum(&:duration) %> min.
        </td>
        <td colspan="2"></td>
      </tr>

    </tfoot>
  </table>
</div>