<!--New form for entry-->
<div class="row">
  <div class="col-xs-12">
    <h1 class="col-sm-offset-2"><%= t('general.new') %></h1>
    <!--Render form: see under _form.html.erb-->
    <%= render "form", entry: @entry %>
  </div>
</div>