<!--Display form for entry-->
<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= @entry.title %> <small><%= @entry.duration %> min.</small>
    </h1>

    <p>
      <%= @entry.body %>
    </p>

    <strong>
      <%= l @entry.start_time %> - <%= l @entry.end_time %>
    </strong>

    <br>
    <br>

    <div>
      <%= link_to entries_path, class: "btn btn-default" do  %>
        Til baka
      <% end %>
    </div>
  </div>
</div>