<!--Show erroes if there are-->
<% if record.errors.any? %>
<div id="error_explanation" class="col-sm-10 col-sm-offset-2">
  <div class="alert alert-danger">
    Formið inniheldur eftirfarandi villur:
    <ul>
      <% record.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>