@import "bootstrap";


body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Pickadate fix for arrows */

.picker__nav--next, .picker__nav--prev {
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  padding-left: .7em;
  padding-right: .7em;
}